<!DOCTYPE html>
<html>
   <head>
			<title>Tenda Biru Order Makanan</title>
			<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	 </head>
	 <body>
		<div class="container p-3">
			<div class="row">
				<div class="col-sm" id="form">
					<form>
						<div class="form-group">
							<label for="exampleFormControlSelect1">Pilih Foodcourt</label>
							<select class="form-control" id="exampleFormControlSelect1" v-model="foodcourt_selected">
								<option value=""></option>
								<option value="aneka_soto">Aneka Soto</option>
								<option value="jualan_juice">Jualan Juice</option>
							</select>
						</div>
						<div class="row">
							<div class="col-sm">
								<label><h4>Makanan Terpilih</h4></label>

								<div class="form-group" v-if="food_cart.length === 0">
									<label for=""><i>Tidak ada makanan yang dipilih</i></label>
								</div>

								<div v-else>
									<ol>
										<li v-for="data in food_cart">{{ data.food_name }}: <br> {{ data.quantity }} item X Rp. {{ formatPrice(data.price) }} = Rp. {{ formatPrice(data.quantity * data.price) }}</li>
									</ol>

									<span>Total : Rp. {{ formatPrice(getTotalPriceFoodCart()) }}</span>

									<div class="my-2">
										<button type="button" class="btn btn-primary" @click="processOrder">Order</button>
									</div>
								</div>
							</div>
							<div class="col-sm">
								<label><h4>Pilih Makanan</h4></label>

								<div>
									<label for="food-list">List Menu</label>
									<select class="form-control" id="food-list" v-model="food_selected_index">
										<option :value="index" v-for="(data, index) in food_list">
											{{ data.name }}
										</option>
									</select>
								</div>
								<div class="my-2">
									<label for="food-list">Kuantitas</label>
									<input type="number" class="form-control" v-model="food_quantity">
								</div>
								<div class="my-2">
									<label for="food-total-price">Total Harga</label>
									<div v-if="food_selected_index !== '' && food_quantity === ''">
										<span>Rp. {{ formatPrice(food_list[food_selected_index].price) }}</span>
									</div>

									<div v-else-if="food_selected_index !== '' && food_quantity !== ''">
										<span>{{food_quantity}} item X Rp. {{ formatPrice(food_list[food_selected_index].price) }} =
											Rp. {{formatPrice(food_quantity * food_list[food_selected_index].price)}}</span>
									</div>

									<div v-else>
										<span>-</span>
									</div>
								</div>
								<div class="my-2">
									<button type="button" :disabled="food_selected_index === '' && food_quantity === ''"
									class="btn btn-primary" @click="addFoodToCart">Tambah</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm border" id="liveData">
					<label for="">Live Data Order</label>
					<div class="row">
						<div class="col-sm">
							<div v-for="data in live_data">
								<span>---------------------START--------------------------</span><br>
								<span v-if="'record' in data">#1 record <br> {{ data.record === null ? 'NULL' : data.record }}</span><br>
								<span v-if="'status' in data">#2 status <br> {{ data.status }}</span><br>
								<span>----------------------END---------------------------</span><br>
							</div>

							<div class="text-right">
								<button type="button" class="btn btn-danger" @click="live_data = []">Clear Logs</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	 </body>
	 <script src='./vue.js'></script>
	 <script src="./socket.io.min.js"></script>
	 <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha256-soW/iAENd5uEBh0+aUIS1m2dK4K6qTcB9MLuOnWEQhw=" crossorigin="anonymous" />
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha256-ITwLtH5uF4UlWjZ0mdHOhPwDpLoqxzfFCZXn1wE56Ps=" crossorigin="anonymous"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
	 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
   <!-- <script>
      var socket = io.connect('http://localhost:8000');
      socket.on("seq-num", (msg) => console.info(msg));
	 </script> -->
	 <script>
		 var vmForm = new Vue({
				el: '#form',
				data: {
					foodcourt_selected: '',
					food_list: [],
					food_cart: [],
					food_selected_index: '',
					food_quantity: '',
				},
				watch: {
					foodcourt_selected() {
						this.clearFoodChoose();
						this.selectFoodcourt(this.foodcourt_selected);
					},
					food_quantity() {
						if(this.food_quantity === "0") {
							this.food_quantity = "1";
						}
					}
				},
				methods: {
					selectFoodcourt(name) {
						switch(name) {
							case 'aneka_soto':
								this.food_list = [
									{
										name: 'Soto Makassar',
										price: 21000,
									},
									{
										name: 'Soto Banjar',
										price: 22000,
									},
									{
										name: 'Soto Betawi',
										price: 23000,
									},
									{
										name: 'Soto Lamongan',
										price: 24000,
									},
									{
										name: 'Soto Jawa',
										price: 25000,
									}
								];
								break;
							case 'jualan_juice':
								this.food_list = [
									{
										name: 'Jus Jeruk',
										price: 20000,
									},
									{
										name: 'Jus Melon',
										price: 20000,
									},
									{
										name: 'Jus Alpukat',
										price: 20000,
									},
								]
								break;
							default:
								this.food_list = [];
						}
					},
					formatPrice(price) {
						return numeral(price).format('0,0');
					},
					clearFoodChoose() {
						this.food_quantity = '';
						this.food_selected_index = '';
					},
					clearFoodCart() {
						this.food_list = [];
						this.food_cart = [];
						this.foodcourt_selected = '';
					},
					addFoodToCart() {
						const obj = {};
						obj.retail_name = this.foodcourt_selected;
						obj.food_name = this.food_list[this.food_selected_index].name;
						obj.quantity = this.food_quantity === '' ? 1 : Number(this.food_quantity);
						obj.price = Number(this.food_list[this.food_selected_index].price);

						this.food_cart.push(obj);
						this.clearFoodChoose();
					},
					getTotalPriceFoodCart() {
						let total = 0;
						this.food_cart.map((obj) => {
							total += obj.price * obj.quantity;
						})

						return total
					},
					async processOrder() {
						const payload = {
							orders: this.food_cart
						}
						try {
						 await axios.post('http://localhost:3000/order', payload);

						 new Noty({
								type: 'success',
								text: 'Cool, order berhasil ditunggu makanan nya ya !',
								theme: 'sunset',
								timeout: 5 * 1000
							}).show();
							this.clearFoodCart();
						} catch(err) {
							new Noty({
								type: 'error',
								text: 'Order gagal !'
							}).show();
						}
					}
				}
			})
	 </script>

	 <script>
		 var socket = io.connect('http://localhost:8000');
		 var vmLiveData = new Vue({
			el: '#liveData',
			data: {
				live_data: []
			},
			mounted() {
          socket.on('seq-num', function(msg) {
            this.live_data.push(msg)
          }.bind(this))
      }
		})
	 </script>
</html>